.list {
	display: block;
	width: 100%;
	box-sizing: border-box;
	counter-reset: cnt;
	&__item {
		width: 100%;
		margin-bottom: 15px;
		padding: 15px;
		border: 1px solid black;
		box-sizing: border-box;
		&:last-child {
			margin-bottom: 0;
		}
		&:nth-child(n+10) {
			.label {
				&::before {
					content: counter(cnt)' ';
				}
			}
		}
	}
}

.label {
	display: inline-block;
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	&_done {
		text-decoration: line-through;
	}
	&_imp {
		color: yellowgreen;
		font-weight: 800;
	}
	&::before {
		content: '0'counter(cnt)' ';
		counter-increment: cnt;
	}
}

.search {
	display: block;
	width: 100%;
	margin: 10px 0;
}